@import url('https://api.fontshare.com/css?f[]=clash-display@700&display=swap');

:root {
	/* Font families */
	--font: 'Abril Fatface', var(--font-fallback);
	--font-h: 'Clash Display', var(--font); /* Can be used for headings for example */

	/* Sizes */
	--fs-h1: 1.75rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1.25rem;

	/* Weights */
	--fw: 400; /* default */
	--fw-bold: 700; /* Headings, buttons, links */
	/* --fw-thin: 300; */
	/* --fw-medium: 500; */

	/* Fallback */
	--font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
